# Base de datos (Railway o Supabase Postgres)
DATABASE_URL="postgresql://user:password@host:5432/raiz?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="genera-uno-con: openssl rand -base64 32"

# Proveedor de email (magic link) — ej. Resend
EMAIL_SERVER=""
EMAIL_FROM="Raíz <onboarding@resend.dev>"

# CMS de contenido editorial (si se usa Sanity)
NEXT_PUBLIC_SANITY_PROJECT_ID=""
NEXT_PUBLIC_SANITY_DATASET="production"

RESEND_API_KEY=re_giD8d6rn_2MJdtZBx9vua3zphTBeR59YP